body {
  background-color: rgba(91, 66, 235, 0.9);
  overflow-x: hidden;
  margin: auto;
  font-family: "Signika", sans-serif;
}

ul li {
  list-style-type: none;
}

.nav {
  width: 100%;
  position: absolute;
  z-index: 99;
}
.nav li {
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: #f9f1fa;
  font-size: 22px;
  padding: 10px 20px;
}
.nav li a {
  text-decoration: none;
  color: #f9f1fa;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .nav {
    width: 20vw;
    height: 100vh;
    padding: 9% 0;
    font-size: 30px;
  }
  .nav li {
    padding: 10% 0;
    padding-right: 10%;
    font-size: 60px;
    color: #5b42eb;
  }
  .nav li a {
    color: #5b42eb;
  }
}

#block-section {
  display: none;
}

#spinner {
  position: relative;
  left: 35%;
  top: 50%;
  width: 120px;
  height: 120px;
  z-index: 99999;
  margin: 150px 0;
  border: 16px solid #5b42eb;
  border-radius: 50%;
  border-top: 16px solid rgba(249, 241, 250, 0.9);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@media screen and (min-width: 768px) {
  #spinner {
    margin: 150px 0;
    left: 45%;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container {
  width: 100%;
  font-family: "Signika", sans-serif;
  color: #f9f1fa;
}
.container .hero {
  background: linear-gradient(to top, #f9f1fa 0%, #f9f1fa 50%, #000000 50%, #5b42eb 50%, #5b42eb 100%);
  padding: 10% 0;
}
.container .hero .content {
  position: relative;
  z-index: 2;
  text-align: center;
}
.container .hero .content h1 {
  font-size: 48px;
}
.container .hero .content h2 {
  font-size: 24px;
  color: #5b42eb;
}
@media screen and (min-width: 768px) {
  .container .hero {
    background: linear-gradient(to right, #f9f1fa 0%, #f9f1fa 50%, #000000 50%, #5b42eb 50%, #5b42eb 100%);
    padding: 10% 0;
  }
  .container .hero .content {
    text-align: right;
    padding-right: 10%;
  }
  .container .hero .content h1 {
    font-size: 70px;
  }
  .container .hero .content h2 {
    font-size: 36px;
    color: #f9f1fa;
  }
}
.container .four-up {
  height: 800px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0;
  text-align: center;
}
.container .up {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5%;
}
.container .up:hover .hover-text {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .container .up {
    width: 30%;
    padding: 10%;
  }
}
.container .about {
  position: relative;
  background-image: url("../media/aboutStock.jpg");
}
.container .about:hover:after {
  background-color: rgba(0, 131, 202, 0.8);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: 0.5s ease;
}
.container .projects {
  position: relative;
  background-image: url("../media/projectsStock.png");
  background-size: 90%;
  background-color: #484297;
  background-repeat: no-repeat;
}
.container .projects:hover:after {
  background-color: rgba(193, 184, 244, 0.8);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: 0.5s ease;
}
.container .xp {
  position: relative;
  background-image: url("../media/codeStock.jpg");
}
.container .xp:hover:after {
  background-color: rgba(134, 50, 140, 0.8);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: 0.5s ease;
}
.container .contact {
  position: relative;
  background-image: url("../media/phoneStock.jpg");
}
.container .contact:hover:after {
  background-color: rgba(171, 171, 171, 0.8);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: 0.5s ease;
}
.container .hover-text {
  color: white;
  font-size: 48px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  position: absolute;
  margin: auto;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .container .hover-text {
    font-size: 60px;
  }
}
.container .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(to right, rgba(249, 241, 250, 0.9) 0%, rgba(249, 241, 250, 0.9) 50%, #000000 50%, rgba(91, 66, 235, 0.9) 50%, rgba(91, 66, 235, 0.9) 100%);
  color: white;
  animation: fadein 0.75s;
  -moz-animation: fadein 0.75s;
  /* Firefox */
  -webkit-animation: fadein 0.75s;
  /* Safari and Chrome */
}
.container .modal .modal-header {
  font-size: 48px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #5b42eb;
}
.container .modal .modal-header .close {
  color: white;
  float: right;
  font-size: 38px;
  font-weight: bold;
  border-radius: 50%;
  background-color: #da0000;
  width: 50px;
  height: auto;
  margin-right: 20px;
  cursor: pointer;
}
.container .modal .modal-header .close:hover:focus {
  color: black;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .container .modal .modal-header {
    font-size: 60px;
  }
}
.container .modal .modal-body {
  background-color: #fefefe;
  color: black;
  margin: 10vh auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .container .modal .modal-body {
    width: 60%;
  }
}
.container .modal .modal-body .info {
  display: block;
  position: relative;
  font-size: 30px;
  padding: 5%;
  margin: 5%;
}
.container .modal .image-content-block {
  padding: 5%;
  margin-bottom: 5%;
}
.container .modal .image-content-block .thumbnail {
  width: 254px;
  height: 194px;
  border: solid 2px #5b42eb;
  border-radius: 20%;
}
.container .modal .image-content-block h3 {
  font-size: 36px;
  color: #5b42eb;
}
@media screen and (min-width: 768px) {
  .container .modal .image-content-block {
    width: 100%;
    height: auto;
  }
  .container .modal .image-content-block .thumbnail {
    float: left;
  }
  .container .modal .image-content-block .description {
    padding: 0 5%;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container .footer {
  position: relative;
  background: linear-gradient(to bottom, #f9f1fa 0%, #f9f1fa 50%, #000000 50%, #5b42eb 50%, #5b42eb 100%);
  padding: 10% 0;
}
.container .footer .copy {
  color: #5b42eb;
  font-size: 40px;
  position: relative;
  text-align: center;
}
.container .footer .container ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  padding-top: 12%;
}
.container .footer .container ul li {
  padding: 5px 20px;
}
.container .footer .container ul .icons {
  width: 75px;
  height: 75px;
}
@media screen and (min-width: 768px) {
  .container .footer {
    background: linear-gradient(to left, #f9f1fa 0%, #f9f1fa 50%, #000000 50%, #5b42eb 50%, #5b42eb 100%);
    padding: 5% 0;
  }
  .container .footer .copy {
    color: #f9f1fa;
    font-size: 60px;
    text-align: left;
    margin-left: 5%;
  }
  .container .footer .container ul {
    left: 20%;
    justify-content: center;
    padding-top: 0;
  }
}

/*# sourceMappingURL=portfolio.css.map */
