@import "mixins";

$light-purple: rgba(249, 241, 250, 1);
$faint-light-purple:rgba(249, 241, 250, .9);
$dark-purple: rgba(91, 66, 235, 1);
$faint-dark-purple: rgba(91, 66, 235, .9);
$body: 'Signika', sans-serif;
$shadow: rgba(51, 51, 51, 0.97);


body{
    background-color: $faint-dark-purple;
    overflow-x: hidden;
    margin: auto;
    font-family: $body;
}

ul li{list-style-type: none;}

.nav{
    width: 80%;
    position: absolute;
    z-index:99;
    margin-left: calc(25% - 35px);

    ul{
        margin: auto;
        li{
            display: inline-block;
            position: relative;
            text-align: center;
            text-decoration: none;
            color: $light-purple;
            font-size: 22px;
            padding: 10px;
            transition: transform .7s;

            a{
                text-decoration: none;
                color: $light-purple;
                cursor: pointer;
            }
            &:hover {@include hover-grow;}

            @include breakpoint(768){
                font-size: 30px;
                padding: 10% 0;
                padding-left: 10%;

                font-size: 60px;
                color: $dark-purple;
                a{color: $dark-purple;}

            }
        }
    }
    @include breakpoint(768){
        width: 20vw;
        height: 100vh;
        margin: 0;
        padding: 11% 0;
    }
}

#block-section{display:none;}

#spinner{
  position: relative;
  left: 35%;
  top: 50%;
  width: 120px;
  height: 120px;
  z-index: 99999;
  margin: 150px 0;
  border: 16px solid $dark-purple;
  border-radius: 50%;
  border-top: 16px solid $faint-light-purple;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;

  @include breakpoint(768){
     margin: 150px 0;
     left: 45%;
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.container {
    width: 100%;
    font-family: $body;
    color: $light-purple;

    .hero{
        @include split-background(to top, $light-purple, $dark-purple);
        padding: 10% 0;

        .content{
            position: relative;
            z-index: 2;
            text-align: center;



            h1{font-size: 48px;
                @include title-shadow;}

            h2{
               font-size: 24px;
               color: $dark-purple;
           }
        }
        @include breakpoint(768){
            @include split-background(to right, $light-purple, $dark-purple);
            padding: 10% 0;
            @include title-shadow;

            .content{
                text-align: right;
                padding-right: 10%;

                h1{font-size: 70px;}
                h2{
                    font-size: 36px;
                    color: $light-purple;}
            }
        }
    }

    .four-up{
        height: 800px;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        align-items: stretch;
        margin: 0;
        text-align: center;
    }

    .up{
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 5%;

        &:hover{.hover-text{opacity: 1;}}

        @include breakpoint(768){
            width: 30%;
            padding: 10%;
        }
    }

    .about{
        position: relative;
        background-image: url('../media/aboutStock.jpg');

        &:hover:after{
            @include hover-settings(rgba(0, 131, 202, .8));
            }
    }
    .projects{
        position: relative;
        background-image: url('../media/projectsStock.png');
        background-size: 90%;
        background-color: #484297;
        background-repeat: no-repeat;

        &:hover:after{
            @include hover-settings(rgba(193, 184, 244, .8));
        }
    }
    .xp{
        position: relative;
        background-image: url('../media/codeStock.jpg');

        &:hover:after{
            @include hover-settings(rgba(134, 50, 140, .8));
        }
    }
    .contact{
        position: relative;
        background-image: url('../media/phoneStock.jpg');

        &:hover:after{
            @include hover-settings(rgba(171, 171, 171, .8));

        }
    }

    .hover-text{
      color: white;
      font-size: 48px;
      @include title-shadow;
      -webkit-text-stroke-width: .5px;
      -webkit-text-stroke-color: black;
      position: absolute;
      margin: auto;
      opacity: 0;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 99;

        @include breakpoint(768){
            font-size: 60px;
        }
    }

    .modal{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 100%;
        overflow: auto;
        @include split-background(to right, $faint-light-purple, $faint-dark-purple);
        color: white;
        animation: fadein .75s;
        -moz-animation: fadein .75s; /* Firefox */
        -webkit-animation: fadein .75s; /* Safari and Chrome */


        .modal-header{
            font-size: 48px;
            -webkit-text-stroke-width: .25px;
            -webkit-text-stroke-color: black;
            text-shadow: 2px 2px black;
            color: white;

            .close{
                color: white;
                float: right;
                font-size: 38px;
                font-weight: bold;
                border-radius: 50%;
                background-color: #da0000;
                width: 50px;
                height: auto;
                margin-right: 20px;
                cursor: pointer;
                transition: transform .9s;

                &:hover{
                    @include hover-grow;
                    box-shadow: 2px 2px 5px $faint-light-purple;
                    &:focus{
                        color: black;
                        text-decoration: none;
                    }
                }
            }
            @include breakpoint(768){
                width: 65%;
                font-size: 60px;
                margin: auto;

                .close{
                    font-size: 50px;
                    width: 65px;
                    height: 65px;
                }
            }
        }

        .modal-body{
            background-color: #fefefe;
            color: black;
            margin: 10vh auto;
            padding: 20px;
            border: 1px solid #888;
            border-radius: 20px;
            width: 80%;
            height: auto;
            font-size: 20px;
            line-height: 1.75;
            box-shadow: 4px 4px 5px $shadow;

            @include breakpoint(768){
                text-align: left;
                width: 60%;

                h3{
                    text-align: center;
                    font-size: 24px;}
            }

            .info{
                display:block;
                position: relative;
                font-size: 30px;
                padding: 5%;
                margin: 5%;
            }
        }

        .image-content-block {
            padding: 5%;
            margin-bottom: 5%;

            .thumbnail {
                width: 254px;
                height: 194px;
                border: solid 2px rgba(91, 66, 235, 1);
                border-radius: 20%;
                transition: transform .7s;

                &:hover {@include hover-grow;}
            }

            h3{
                font-size: 36px;
                color: $dark-purple;
            }

            @include breakpoint(768){
                width: 100%;
                height: auto;

                .thumbnail{
                    float: left;}

                .description{
                    text-align: right;
                    padding: 0 10%;
                }
            }
        }

        @include fadein-block;
    }

    .footer{
        position: relative;
        @include split-background(to bottom, $light-purple, $dark-purple);
        padding: 10% 0;

        .copy{
            color: $dark-purple;
            font-size: 40px;
            position: relative;
            text-align: center;


        }

        .social-links{padding-top: 40px;}
        .social-links ul{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            position: relative;
            padding-top: 12%;

            li{
                padding: 5px 20px;
            }

            .icons{
                width: 75px;
                height: 75px;
                transition: transform .7s;

                &:hover {@include hover-grow;}
        }
    }
        @include breakpoint(768){
            @include split-background(to left, $light-purple, $dark-purple);
            padding: 5% 0;

            .copy{
                color: $light-purple;
                font-size: 60px;
                text-align: left;
                margin-left: 5%;
                @include title-shadow;
            }

            .social-links{padding-top:0;}
            .container ul{
                left: 20%;
                justify-content: center;
                padding-top: 0;
            }
        }
    }
}
